{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="span8 blog">

            <article>
                <h3 class="title-bg"><a href="#">A subject that is beautiful in itself</a></h3>
                <div class="post-content">
                    <img src="{{ event.picture }}" alt="Post Thumb">

                    <div class="post-body">
                        <h3>{{ event.name }}</h3>
                        <p>{{ event.description }}</p>
                        <p>Prix de la prestation: {{ event.price }} euros</p>
                        <div class="well">
                            {{ form_start(formBooking) }}
                            <div class="form-group">
                                {{ form_label(formBooking.lastName) }}
                                {{ form_widget(formBooking.lastName) }}
                                <div class="errorsForm">{{ form_errors(formBooking.lastName) }}</div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formBooking.firstName) }}
                                {{ form_widget(formBooking.firstName) }}
                                <div class="errorsForm">{{ form_errors(formBooking.firstName) }}</div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formBooking.email) }}
                                {{ form_widget(formBooking.email) }}
                                <div class="errorsForm">{{ form_errors(formBooking.email) }}</div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formBooking.quantity) }}
                                {{ form_widget(formBooking.quantity) }}
                                <div class="errorsForm">{{ form_errors(formBooking.quantity) }}</div>
                            </div>
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                            {{ form_end(formBooking) }}
                        </div>
                        <blockquote>
                            Vous souhaitez reserver ? Ajouter le nombre de place que vous désirez et completez en
                            mettant votre nom et prénom. Nombre de place disponible limité. <span class="nbRegistration">{{ event.maxRegistration}} pour cette évènement.</span>
                        </blockquote>
                    </div>

                    <div class="post-summary-footer">
                        <ul class="post-data">
                            <li><i class="icon-comment"></i> <a href="#"><span>{{ comments|length }}</span> commentaires</a></li>
                        </ul>
                    </div>
                </div>
            </article>


            <section class="comments">
                <h4 class="title-bg"><a name="comments"></a><span>{{ comments|length }}</span> commentaires</h4>
                <ul>
                    {% for comment in comments %}
                        <li>
                            <img src="{{ asset('img/user-avatar.jpg') }}" alt="Image" />
                            <span class="comment-name">{{ comment.user }}</span>
                            <span class="comment-date"> || {{ comment.commentDate | date('d-m-Y') }}
                            <div class="comment-content">{{ comment.comment }}</div>
                        </li>
                    {% endfor %}
                </ul>
            
                
                <div class="comment-form-container">
                    <h6>Laisser un commentaire</h6>
                    {{ form_start(formComment, {'attr': {novalidate: 'novalidate'}}) }}
                        <div class="form-group">
                            {{ form_label(formComment.user) }}
                            {{ form_widget(formComment.user) }}
                            <div class="errorsForm">{{ form_errors(formComment.comment) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(formComment.comment) }}
                            {{ form_widget(formComment.comment) }}
                            <div class="errorsForm">{{ form_errors(formComment.comment) }}</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{form_end(formComment)}}
                </div>
            </section>
        </div>

         
        <div class="span4 sidebar">
           
            <h5 class="title-bg">Categories</h5>
            <ul class="post-category-list">
                <li><a href="#"><i class="icon-plus-sign"></i>Comédie</a></li>
                <li><a href="#"><i class="icon-plus-sign"></i>Classique</a></li>
            </ul>

            
            <h5 class="title-bg">Dernier Post</h5>
            <ul class="popular-posts">
                <li>
                    <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                    <h6><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></h6>
                    <em>Posted on 09/01/15</em>
                </li>
                <li>
                    <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                    <h6><a href="#">Nulla iaculis mattis lorem, quis gravida nunc iaculis</a></h6>
                    <em>Posted on 09/01/15</em>
                <li>
                    <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                    <h6><a href="#">Vivamus tincidunt sem eu magna varius elementum maecenas felis</a></h6>
                    <em>Posted on 09/01/15</em>
                </li>
            </ul>

            
            <h5 class="title-bg">Plus d'infos</h5>

            <div class="tab-content">
                <div class="tab-pane active" id="comments">
                    <ul>
                        <li><i class="icon-comment"></i>Accueil <a href="{{ path('app_default_home') }}">Lien accueil</a></li>
                        <li><i class="icon-comment"></i>Galeries <a href="{{ path('app_default_events') }}">Lien évènements</a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="tweets">
                    <ul>
                        <li><a href="#"><i class="icon-share-alt"></i>@room122</a> Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna.</li>
                        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Nulla faucibus ligula eget ante varius ac euismod odio placerat.</li>
                        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Pellentesque iaculis lacinia leo. Donec suscipit, lectus et hendrerit posuere, dui nisi porta risus, eget adipiscing</li>
                        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Vivamus augue nulla, vestibulum ac ultrices posuere, vehicula ac arcu.</li>
                        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Sed ac neque nec leo condimentum rhoncus. Nunc dapibus odio et lacus.</li>
                    </ul>
                </div>
                <div class="tab-pane" id="about">
                    <p>Enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>

                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
            </div>

            
            <h5 class="title-bg">Video Widget</h5>
            <iframe src="http://player.vimeo.com/video/24496773" width="370" height="208"></iframe>
            <p>Prendre Contact avec nous ? <a href="">link contact</a></p>
        </div>

    </div>

</div> 


{% endblock %}
