<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Théâtre Le Crystal - Accueil{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Feuilles de styles -->

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom-styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style-ie.css') }}">

        <!-- Script JS -->

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/script.js') }}" defer></script>
        
    </head>
    <body>
        {{ include("header.html.twig")}}
        {% block body %}{% endblock %}
        {{ include("footer.html.twig")}}
    </body>
</html>
