<footer>
    <div class="footer-container"><!-- Begin Footer -->
    	<div class="container">
        	<div class="row footer-row">
                <div class="span3 footer-col">
                    <h5>À propos de nous</h5>
                   <img src="{{ asset('img/logo2.png') }}" alt="Piccolo" /><br /><br />
                    <address>
                        <strong>Adresse</strong><br />
                        123 Main St, Suite 500<br />
                        New York, NY 12345<br />
                    </address>
                    <ul class="social-icons">
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                        <li><a href="#" class="social-icon rss"></a></li>
                        <li><a href="#" class="social-icon forrst"></a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Dernier Commentaires</h5>
                    <ul>
                        <li><a href="#">@room122</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><a href="#">@room122</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices.</li>
                        <li><a href="#">@room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Dernier Billets</h5>
                     <ul class="post-list">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipiscing elit est lacus gravida</a></li>
                        <li><a href="#">Lectus sed orci molestie molestie etiam</a></li>
                        <li><a href="#">Mattis consectetur adipiscing elit est lacus</a></li>
                        <li><a href="#">Cras rutrum, massa non blandit convallis est</a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Le monde entier est un théâtre !</h5>
                    <ul class="img-feed">
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-11.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-12.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-13.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-21.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-22.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-23.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-31.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-32.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-33.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-41.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-42.png') }}" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="{{ asset('img/decoupe/11-43.png') }}" alt="Image Feed"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">&#169;  2022 - Tout droits réservés / Site réalisé par Alexandre Coulombier</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="#">Accueil</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Se connecter</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Réservation</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer --> 

</footer>