<header>
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    <div class="container">
        <div class="row header">
            <div class="span5 logo">
                <a href="{{ path('app_default_home') }}"><img src="{{ asset('img/logo.png') }}" alt="" /></a>
                <h5>Théâtre Le Crystal</h5>
            </div>

            <div class="span7 navigation">
                <div class="navbar hidden-phone">

                    <ul class="nav">
                        <li class="principalMenu"><a href="{{ path('app_default_home') }}">Accueil </a></li>
                        <li class="principalMenu"><a href="features.htm">Se connecter </a></li>
                        <li class="principalMenu"><a href="{{ path('app_default_events') }}">Événements</a></li>
                        <li class="principalMenu"><a href="{{ path('app_default_contact') }}">Contact</a></li>
                        <li class="principalMenu"><a href="{{ path('app_default_dashboard') }}">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>