{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
	<section id="login" class="container">
		{{ form_start(form) }}
			<h3>Connexion</h3>
			<div class="form-group">
				{{ form_label(form.pseudo) }}
				{{ form_widget(form.pseudo) }}
				<div class="errorsForm">{{ form_errors(form.pseudo) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(form.password) }}
				{{ form_widget(form.password) }}
				<div class="errorsForm">{{ form_errors(form.password) }}</div>
			</div>
			<button type="submit" id='submit'>SE CONNECTER</button>
			{{ form_end(form) }}
	</section>
{% endblock %}